name: Package Application with PyInstaller

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Package Application
      uses: Lincoln-LM/pyinstaller-action-windows@main
      with:
        path: ./

    - run: cp -R ./resources ./dist/windows/resources/

    - uses: actions/upload-artifact@v3
      with:
        name: windows-build
        path: dist
